@using Abp.Timing
<div class="page-header-inner">
    <div class="page-logo">
        <a href="@Url.Action("Index", "Home")" target="_blank">
            <img src="~/Common/Images/app-logo-on-light.png" alt="logo" class="logo-default" width="168" height="33" />
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <div class="page-top">
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
              
                <!-- END NOTIFICATION DROPDOWN -->
                <li class="separator hide"> </li>

                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" title="{{vm.isImpersonatedLogin ? '@L("YouCanBackToYourAccount")' : ''}}">
                        <span class="username username-hide-on-mobile">
                            <i ng-if="vm.isImpersonatedLogin" class="icon-action-undo font-red-sunglo"></i> {{vm.getShownUserName()}}
                        </span>
                        <img id="HeaderProfilePicture" alt="" class="img-circle" src="@Url.Action("GetProfilePicture", "Profile")?t=@Clock.Now.Ticks.ToString()" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                     
                        <li>
                            <a href="" ng-click="vm.changePassword()"><i class="icon-key"></i>修改密码</a>
                        </li>
                     
                        <li>
                            <a href="" ng-click="vm.changePicture()"><i class="icon-user"></i>修改头像</a>
                        </li>
                        <li>
                            <a href="" ng-click="vm.editMySettings()"><i class="icon-settings"></i>个人设置</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout","Account")"><i class="icon-logout"></i>退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>